<div class="bar-graph">
  <div class="bar-graph__title">Title</div>
  <div class="bar-graph__graph">
    <div class="bar-graph__y-label"></div>
    <div class="bar-graph__x-label"></div>
    <div class="bar-graph__wrapper"></div>
  </div>
</div>