<div class="state-graph">
  <div class="state-graph__wrapper">
    <div class="state-graph__name"></div>
    <div class="state-graph__value"></div>
    <div class="state-graph__trend"></div>
  </div>
</div>