<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body class="page">
  <header class="page__header">
    <h1>Trends</h1>
  </header>
  <section class="graphs">
    <div class="time-graph">
      <%= render 'bar_graph' %>
    </div>
    <div class="state-graph">

    </div>
  </section>
</body>
</html>
