<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body class="page">
  <header class="page__header">
    <h1>Trends</h1>
  </header>
  <section class="graphs">
    <div class="time-graph">
    </div>
    <div class="state-graphs">
    </div>
  </section>

  <script type="text/template" id="bar-graph-template">
    <%= render 'bar_graph' %>
  </script>
  <script type="text/template" id="state-graph-template">
    <%= render 'state_graph' %>
  </script>
</body>
</html>
