@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

$background-color-main: #272b30;
$text-color-main: #c8c8c8;
$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
$brand-font: 'Montserrat', sans-serif;
$gauge-font: 'Roboto Slab', serif;

$border-style: 1px solid rgba(0, 0, 0, 0.6);

$background-color-bar: #5bc0de;
$text-color-bar: #fff;