@import 'variables';

.page {
  color: $text-color-main;
  background-color: $background-color-main;
  font-family: $brand-font;
}

.page__header {
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0, 0.6);
  text-shadow: $text-shadow;
  padding:0 20px;
  font-size:40px;
}

.graphs {
  /* height: calc(100vh - 150px); */
}

.time-graph {
  height: 200px;
  padding:20px;
}

.state-graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}