@import 'variables';

.page {
  color: $text-color-main;
  background-color: $background-color-main;
  font-family: $brand-font;
}

.page__header {
  text-shadow: $text-shadow;
  padding:0 20px;
  font-size:40px;
  color: $text-color-brand;
}

.graphs {
  /* height: calc(100vh - 150px); */
}

.time-graph {
  height: 200px;
  padding:20px;
}

.state-graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.not-found{
  display: flex;
  align-content: center;
  margin-top:100px;
}
.not-found__image {
  width:500px;
  margin: auto;
}